# --- For-Bot-Working --------- #
git+https://github.com/kurimuzonAkuma/pyrogram@dev
TgCrypto
pyromod
python-dotenv

# --- For-Database ------------ #
pymongo
dnspython

# --- For-Web-Response ------- #
aiohttp

